<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Demo Chat Socketio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/main.css"
    />
    <script src="/js/jquery-3.5.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/bundle.js"></script>
  </head>

  <body>
    <div id="wrapper">
      <h3 id="header">DEMO CHAT NODEJS SOCKET.IO</h3>
      <input type="text" id="txtUser" placeholder="Username" />
      <input type="button" id="btnDangki" value="Dang ki" />
      <div class="block"></div>
      <div id="left">
        <div id="title">
          Users Online
        </div>
        <div id="danhSachUserOnline"></div>
      </div>
      <div id="right">
        <input type="text" id="txtMessage" placeholder="Message..." />
        <input type="button" id="btnChat" value="Chat" />
      </div>
    </div>
  </body>
</html>
